@import './assets/css/tokens.css';
@import './assets/css/base.css';
@import './assets/css/layout.css';
@import './assets/css/components.css';
@import './assets/css/pages.css';
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}